<!doctype html>
<html {{ site.language_attributes }}>
    <head>
        <meta charset="{{ site.charset }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="theme-color" content="#000">

        <link rel="profile" href="http://gmpg.org/xfn/11">

        {% if function('is_singular') and function('pings_open') %}
            <link rel="pingback" href="{{ site.pingback_url }}">
        {% endif %}

        {{ function('wp_head') }}
        {% block basic_wp_theme_head %}{% endblock %}
    </head>
    <body class="{{ body_class }}">
        {{ function('wp_body_open') }}
        {% block basic_wp_theme_body_open %}{% endblock %}

        <a href="#mainContent">{{ _e( 'Skip to content') }}</a>

        <div>
            {% include 'partials/header.twig' %}

            <main id="mainContent">
                {% block content %}
                    <p>Sorry, no content.</p>
                {% endblock %}
            </main>

            {% include 'partials/footer.twig' %}
        </div>

        {{ function('wp_footer') }}
        {% block basic_wp_theme_footer %}{% endblock %}
    </body>
</html>
